server {
    {% for listen_value in nginx_redirect_listen %}listen {{ listen_value }};
{% endfor %}
{% if nginx_redirect_ssl %}
    {% include 'kifi_ansible_roles/ajsalminen.nginx_common/templates/ssl.j2' %}
{% endif %}
    server_name {{ nginx_redirect_name }}{% if nginx_redirect_www %} www.{{ nginx_redirect_name }}{% endif %};
    return 301 {{ nginx_redirect_scheme }}://{{ nginx_redirect_destination }};
}
